.footer {
  background-color: var(--color-accent-nude);
  color: var(--color-accent);
  text-align: center;
}

.footer-pad {
  width: 100%;
}

.footer a {
  text-decoration: underline;
}

.footer a:hover {
  color: var(--color-primary-dark);
}

.icon {
  position: relative;
   top: 0;
   transition: top ease 0.5s;
}

.icon:hover {
  top: -10px;
}

.social-media a {
  border-bottom: 0em;
}
