<header id="header" role="banner" class="masthead text-center" tabindex="0">
  <div class="push-1-2 gutter-2 pad-t-1-2">
    <img class="logo valign-middle island-1-4" src="/images/logo.svg" alt="logo">
  </div>
  <nav class="push-1-2 bold" role="navigation" id="nav" tabindex="0">
    <ul class="nav list-group-inline push-none giga">
      <li class="gutter-1-2 {% if page.highlight_nav == 'home' %}current{% endif %}"><a class="current block pad-t-1-8 pad-b-1-8" href="/index/">Home</a></li>
      <li class="gutter-1-2 {% if page.highlight_nav == 'products' %}current{% endif %}"><a class="current block pad-t-1-8 pad-b-1-8" href="/products/">Work</a></li>
      <li class="gutter-1-2 {% if page.highlight_nav == 'about' %}current{% endif %}"><a class="current block pad-t-1-8 pad-b-1-8" href="/about/">About Me</a></li>
    </ul>
  </nav>
</header>
