.card-portfolio {
  box-shadow: 5px 10px;
}

.card-image {
  background-image: url("/images/project-02.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 15em;
}

.card-grey {
  background-color: var(--color-secondary-light);
}

.card, a {
  text-decoration: none;
  transition: box-shadow .3s;
}

.card-preview:hover {
  box-shadow: 0px 10px 24px -8px rgba(0,0,0,0.75);
  transition: box-shadow 0.3s ease-in-out;
}

.card-about {
  background-color: var(--color-accent-nude);
}

.card-preview {
  background-color: var(--color-accent-nude)
}

.objective {
  background-color: var(--color-accent-nude);
}

.features-card {
  max-width: 80%;
  margin: 0 auto;
}

.grey {
  color: var(--color-secondary-dark);
}

.card-title-portfolio-piece {
  border-bottom: 2px solid var(--color-accent-nude);
}

@media only screen and (min-width: 38em) {

.card-image {
  min-height: 0;
}

}
