<!DOCTYPE html>
	<html lang="en-ca">
	<head>
	  <meta charset="utf-8">
	  <title>Graphic Design Portfolio - Laura Meguerditchian</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="description" content="Graphic Design, SEO & Marketing services. Based in Ottawa. FR - EN">
    <meta name="author" content="Graphic Design, SEO & Marketing services. Based in Ottawa. FR - EN">
	  <link href="/css/main.css" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="favicon.ico" rel="shortcut icon">
    <link rel="icon" type="image/png" href="favicon-196.png">
	</head>
	<body>
  <ul class="skip-links">
        <li><a href="#header">Skip to header</a></li>
        <li><a href="#main">Skip to main content</a></li>
        <li><a href="#footer">Skip to footer</a></li>
  </ul>
  {% pattern header/header %}
  <main id="main" role="main">{{content}}</main>
  {% pattern footer/footer %}
</body>
</html>
