.hero-image {
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-big {
  color: var(--color-primary-dark);
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-primary-dark);
  background-color: rgba(255, 255, 255, 0.73);
}

@media only screen and (max-width: 653px) {

  .hero-banner {
    width: auto;
    height: 400px;
  }

  .hero-image {
    font-size: 15px;
  }
}
